BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "lcdOut[9]" SITE "143" ;
LOCATE COMP "lcdOut[8]" SITE "142" ;
LOCATE COMP "lcdOut[0]" SITE "141" ;
LOCATE COMP "lcdOut[1]" SITE "140" ;
LOCATE COMP "lcdOut[2]" SITE "139" ;
LOCATE COMP "lcdOut[3]" SITE "138" ;
LOCATE COMP "lcdOut[4]" SITE "133" ;
LOCATE COMP "lcdOut[5]" SITE "132" ;
LOCATE COMP "lcdOut[6]" SITE "128" ;
LOCATE COMP "lcdOut[7]" SITE "127" ;
LOCATE COMP "clr" SITE "109" ;
LOCATE COMP "csr" SITE "110" ;
LOCATE COMP "col[7]" SITE "122" ;
LOCATE COMP "col[6]" SITE "121" ;
LOCATE COMP "col[5]" SITE "120" ;
LOCATE COMP "col[4]" SITE "119" ;
LOCATE COMP "col[3]" SITE "117" ;
LOCATE COMP "col[2]" SITE "115" ;
LOCATE COMP "col[1]" SITE "114" ;
LOCATE COMP "col[0]" SITE "113" ;
LOCATE COMP "fil[7]" SITE "86" ;
LOCATE COMP "fil[6]" SITE "85" ;
LOCATE COMP "fil[5]" SITE "84" ;
LOCATE COMP "fil[4]" SITE "83" ;
LOCATE COMP "fil[3]" SITE "82" ;
LOCATE COMP "fil[2]" SITE "81" ;
LOCATE COMP "fil[1]" SITE "78" ;
LOCATE COMP "fil[0]" SITE "77" ;
