BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "en_izq" SITE "38" ;
LOCATE COMP "en_der" SITE "39" ;
LOCATE COMP "s[0]" SITE "42" ;
LOCATE COMP "s[1]" SITE "43" ;
LOCATE COMP "abcd[0]" SITE "61" ;
LOCATE COMP "abcd[1]" SITE "62" ;
LOCATE COMP "abcd[2]" SITE "68" ;
LOCATE COMP "clr" SITE "71" ;
LOCATE COMP "abcd[3]" SITE "69" ;
LOCATE COMP "Qabcd[0]" SITE "109" ;
LOCATE COMP "Qabcd[1]" SITE "110" ;
LOCATE COMP "Qabcd[2]" SITE "111" ;
LOCATE COMP "Qabcd[3]" SITE "112" ;
