#
# Logical Preferences generated for Lattice by Synplify maplat2018q2p1, Build 055R.
#

# Period Constraints 
#FREQUENCY NET "clk_w_1" 100.0 MHz;
#FREQUENCY NET "clk_r" 100.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "clk_r" TO CLKNET "clk_w_1";
#BLOCK PATH FROM CLKNET "clk_w_1" TO CLKNET "clk_r";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
