BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clr" SITE "109" ;
LOCATE COMP "segOut[0]" SITE "110" ;
LOCATE COMP "segOut[1]" SITE "111" ;
LOCATE COMP "segOut[2]" SITE "112" ;
LOCATE COMP "segOut[3]" SITE "113" ;
LOCATE COMP "segOut[4]" SITE "114" ;
LOCATE COMP "segOut[5]" SITE "115" ;
LOCATE COMP "segOut[6]" SITE "117" ;
LOCATE COMP "decOut[0]" SITE "138" ;
LOCATE COMP "decOut[1]" SITE "139" ;
LOCATE COMP "decOut[2]" SITE "140" ;
LOCATE COMP "decOut[3]" SITE "141" ;
