BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "digit[0]" SITE "110" ;
LOCATE COMP "digit[1]" SITE "111" ;
LOCATE COMP "digit[2]" SITE "112" ;
LOCATE COMP "digit[3]" SITE "113" ;
LOCATE COMP "digit[4]" SITE "114" ;
LOCATE COMP "digit[5]" SITE "115" ;
LOCATE COMP "digit[6]" SITE "117" ;
LOCATE COMP "CLR" SITE "109" ;
LOCATE COMP "fil[0]" SITE "140" ;
LOCATE COMP "fil[1]" SITE "141" ;
LOCATE COMP "fil[2]" SITE "142" ;
LOCATE COMP "fil[3]" SITE "143" ;
LOCATE COMP "col[0]" SITE "104" ;
LOCATE COMP "col[1]" SITE "105" ;
LOCATE COMP "col[2]" SITE "106" ;
LOCATE COMP "col[3]" SITE "107" ;
