#
# Logical Preferences generated for Lattice by Synplify maplat2018q2p1, Build 055R.
#

# Period Constraints 
#FREQUENCY NET "cto1/imx_aux[1]" 2.1 MHz;
#FREQUENCY NET "cto5/clk_w_1" 100.0 MHz;
#FREQUENCY NET "cto3/q14_aux" 2.1 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 

#MULTICYCLE FROM CLKNET "cto3/q14_aux"  TO CLKNET "cto3/q14_aux"  2X;


# Block Path Constraints 
#BLOCK PATH FROM CLKNET "cto5/clk_w_1" TO CLKNET "cto1/imx_aux[1]";
#BLOCK PATH FROM CLKNET "cto1/imx_aux[1]" TO CLKNET "cto5/clk_w_1";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
